.home .contacts{
    padding-top: 40px;
    padding-bottom: 100px;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}

.home .link{
    color: #1890ff;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    transition: all .3s;
}

.home .link.red{
    color: #f30000;
}

.home .link:active, .home .link:hover {
    outline: 0;
    text-decoration: none;
    opacity: 0.7;
}

.home .add-contact{
    margin-bottom: 15px;
    overflow: hidden;
}

.home .add-contact button{
    float: right;
}

.home .search{
    height: 50px;
    line-height: 50px;
    margin-bottom: 15px !important;
    font-size: 16px;
    padding-left: 15px;
}

